*.ide-wal
*.ide-shm
*.ide
*.lock
src/Uiza.Net/obj/
src/Uiza.Net45.Console/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/Uiza.Net45.Console/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/Uiza.Net45.Console/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/Uiza.Net45.Console/obj/Debug/Uiza.Net45.ConsoleTest.csproj.FileListAbsolute.txt
src/Uiza.Net45.Console/obj/Debug/Uiza.Net45.ConsoleTest.csproj.CopyComplete
src/Uiza.Net45.Console/obj/Debug/Uiza.Net45.Console.csproj.FileListAbsolute.txt
src/Uiza.Net45.Console/obj/Debug/Uiza.Net45.Console.csproj.CopyComplete
src/Uiza.Net45.Console/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/Uiza.Net45.Console/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/Uiza.Net45.Console/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/Uiza.NetCore.Console/obj/
src/Uiza.Test.Net45/obj/
src/Uiza.Test.NetCore/obj/
src/packages/MSTest.TestAdapter.1.3.2/
src/Uiza.Net/bin/
src/packages/MSTest.TestFramework.1.3.2/
src/Uiza.Net45.Console/bin/Release/Uiza.net.xml
src/Uiza.Net45.Console/bin/Release/Uiza.Net45.Console.exe.config
src/Uiza.Net45.Console/obj/
src/Uiza.NetCore.Console/bin/
src/Uiza.Test.Net45/bin/
src/Uiza.Test.NetCore/bin/
src/Uiza.Test.NetCore/bin/
src/Uiza.Net45.Console/bin/
src/UizaTest/bin/
src/UizaTest/obj/
